<footer class="footer-small" role="footer">
	<div class="container">
		<div class="hidden-xs">
      <div class="row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-5">
        </div>
      </div>

      <hr>
      <div class="row spacer-bottom20" style="overflow: hidden;">
    <div class="col-resources col-sm-6">
      <div>
        <h3>Resources</h3>
        <div class="col-sm-5">
          <ul class="list-unstyled default">
            <li>
              <a href="#">Resource 1</a>
            </li>
            <li>
              <a href="#">Resource 2</a>
            </li>
            <li>
              <a href="#">Resource 3</a>
            </li>
            <li>
              <a href="#">Resource 4</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
          <ul class="list-unstyled default">
            <li>
              <a href="#">Resource 5</a>
            </li>
            <li>
              <a href="#">Resource 6</a>
            </li>
            <li>
              <a href="#">Resource 7</a>
            </li>
            <li>
              <a href="#">Resource 8</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-connect-with-us col-sm-5 col-sm-offset-1">
      <div>
        <h3>
          Connect With Us
        </h3>
        <ul class="list-unstyled default bottom20">
          <li>
            <a href="#" class="row-link" data-remote="false">
              <div class="row">
                <div class="col-sm-1">
                  <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>
                </div>
                <div class="col-sm-11 nudge-right">
                  <span class="text">Questions? Call 1-800-555-5555</span>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="/blog" class="row-link" data-remote="false">
              <div class="row">
                <div class="col-sm-1">
                <span class="glyphicon glyphicon-comments"></span>
                </div>
                <div class="col-sm-11 nudge-right">
                <span class="text">Visit the SRC blog</span>
                </div>
              </div>
            </a>
          </li>
        </ul>
        <ul class="list-unstyled default bottom20">
          <li class="social-icon">
            <a class="fa fa-facebook fa-2x" alt="Facebook" href="#" target="_blank" title="Leaving starrobbins.com"></a>
            <a class="fa fa-twitter fa-2x" href="#" target="_blank" title="Leaving starrobbins.com"></a>
            <a class="fa fa-youtube fa-2x" href="#" target="_blank" title="Leaving starrobbins.com"></a>
            <a class="fa fa-google-plus fa-2x" href="#" target="_blank" title="Leaving starrobbins.com"></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row row-links">
    <div class="col-sm-4">
      <small class="up-case">
        <a href="#">Sitemap</a>
       |
        <a href="#">Glossary</a>
       |
        <a href="#">Contact Us</a>
       |
        <a href="#"">Archive</a>
      </small>
    </div>
    <div class="col-sm-8 text-right">
    </div>
  </div>
</footer>
