<div class='limiter hidden-phone desktop-nav' id='desktop-nav'>
  <div class='row'>
    <div class="col-xs-12 col-md-5">
      <a href='{{site.baseurl}}/'><img class='logo' src='{{site.baseurl}}/images/logo.png' alt='Star Robbins &amp; Company' /></a>
    </div>
    <div class="col-xs-6 col-md-6 pull-right">
      <div class="col-lg-6">
         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search for...">
           <span class="input-group-btn">
             <button class="btn btn-default" type="button">Go!</button>
           </span>
         </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->
      <a href='#' class='topnav'>Login</a>
    </div>
  </div>
</div>
