<nav role='navigation'>
  <div class='row'>
    <div class="col-xs-12 col-md-5">
      <a href='{{site.baseurl}}/'><img class='logo' src='{{site.baseurl}}/images/logo.png' alt='Star Robbins &amp; Company' /></a>
    </div>
    <div class="col-xs-6 col-md-6 pull-right">
      <div class="col-lg-6">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="What can we help you find?" aria-describedby="basic-addon2">
          <span class="input-group-addon" id="basic-addon2">Search</span>
        </div><!-- /input-group -->
       </div><!-- /.col-lg-6 -->
      <a href='#' class='topnav'>Login</a>
    </div>
  </div>
</nav>
