/** Typography **/
h1, h2, h3 {
  font-family: 'Bitter',serif;
  font-weight: normal;
  letter-spacing: normal;
}
/** Buttons **/
.btn,
.btn.active,
.btn:active {
  border:none;
  -webkit-font-smoothing:antialiased;
  background-repeat:repeat-x;
  background-position:0 -15px;
     -moz-box-shadow:none;
  -webkit-box-shadow:none;
          box-shadow:none;
     -moz-transition:all 200ms linear;
  -webkit-transition:all 200ms linear;
       -o-transition:all 200ms linear;
          transition:all 200ms linear;
  z-index:1000!important;
  }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled], .btn:focus {
  color:#FFF;
  }
.no-touch .btn:hover,
.no-touch .btn:focus {
  background-position:0 0;
  }
.btn-large {
  width:260px;
  padding:10px 0;
  font-size:20px;
  line-height:inherit;
  font-weight:700;
  text-shadow:0 -1px 0 rgba(0,0,0,0.23);
  text-transform:uppercase;
  }
a.btn.btn-large {
  text-decoration:none!important;
  color:#FFF;
  }
.btn-green {
  border: none;
  background-color:hsl(126, 65%, 28%) !important;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#20972c", endColorstr="#187522");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#20972c), to(#187522));
  background-image:-moz-linear-gradient(top, #20972c, #187522);
  background-image:-ms-linear-gradient(top, #20972c, #187522);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #20972c), color-stop(100%, #187522));
  background-image:-webkit-linear-gradient(top, #20972c, #187522);
  background-image:-o-linear-gradient(top, #20972c, #187522);
  background-image:linear-gradient(#20972c, #187522);
  color:#fff;
  -webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.25);
     -moz-box-shadow:1px 1px 4px rgba(0,0,0,0.25);
          box-shadow:1px 1px 4px rgba(0,0,0,0.25);
}
.no-touch .btn-green:hover,
.no-touch .btn-green:focus {
  color:#fff;
  text-decoration: none;
}
.btn.btn-blue {
  border:none;
  background-position:0 0;
  background-image:none;
  background-color:hsl(198, 84%, 15%) !important;
}
.btn.btn-blue:hover,
.btn.btn-blue:focus {
  background-color:hsl(199, 97%, 30%) !important;
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#038ac8", endColorstr="#026796");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#038ac8), to(#026796));
  background-image:-moz-linear-gradient(top, #038ac8, #026796);
  background-image:-ms-linear-gradient(top, #038ac8, #026796);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #038ac8), color-stop(100%, #026796));
  background-image:-webkit-linear-gradient(top, #038ac8, #026796);
  background-image:-o-linear-gradient(top, #038ac8, #026796);
  background-image:linear-gradient(#038ac8, #026796);
}
.btn.btn-blue.btn-search {
  position:absolute;
  right:0;
  margin-top:4px;
  height:34px;
  width:34px;
  text-indent:-999em;
  padding:0;
  -webkit-border-top-left-radius:   0px!important;
  -webkit-border-bottom-left-radius:0px!important;
  -moz-border-radius-bottomleft:    0px!important;
  -moz-border-radius-bottomleft:    0px!important;
  border-top-left-radius:           0px!important;
  border-bottom-left-radius:        0px!important;
}
.btn-grey {
  background-color:hsl(0, 0%, 85%) !important;
  background-repeat:repeat-x;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#ededed", endColorstr="#d8d8d8");
  background-image:-khtml-gradient(linear, left top, left bottom, from(#ededed), to(#d8d8d8));
  background-image:-moz-linear-gradient(top, #ededed, #d8d8d8);
  background-image:-ms-linear-gradient(top, #ededed, #d8d8d8);
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #ededed), color-stop(100%, #d8d8d8));
  background-image:-webkit-linear-gradient(top, #ededed, #d8d8d8);
  background-image:-o-linear-gradient(top, #ededed, #d8d8d8);
  background-image:linear-gradient(#ededed, #d8d8d8);
  color:#333 !important;
}
.btn-grey.print {
  float:right;
  margin-top:-32px;
  width:90px;
  min-height:28px !important;
  max-height:28px !important;
  font-weight:bold;
  text-transform:uppercase;
  margin-left:20px;
}
.btn-grey.print.es {
  width:112px;
}
.audience-container .btn-grey.print {
  margin-left:100%;
}

/** Top Navigation **/

.top-nav {
  padding-top: 13px;
  height: 90px;
  .right-nav {
    padding-top: 13px;
  }
}

.subnav {
  position: relative;
  height: 54px;
  padding-top: 5px;
  background: #651E20;
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: -4px;
    z-index: 10;
    background: url(../images/dark-bg.png) 0 0 repeat;
  }
  li a {
    color: #fff;
    font-size: 1.2em;
  }
  li a:hover {
    color: #000;
  }
}

.hero {
  position:relative;
  height:700px;
  color:#fff;
  background:45% no-repeat;
  background-size:cover;
  .intro {
    position: relative;
    top: 100px;
    left: 10%;
  }
  p {
    font-weight: normal;
    font-size:18px;
    line-height:25px;
    margin:22px 0;
    width:490px;
  }
  h1 {
    width:49%;
    font-size:42px;
    line-height:47px;
  }
  h2, form label {
    font-weight:700!important;
    text-transform:uppercase;
    position:relative;
    right:5px;
    bottom:2px;
  }
  a.btn {
    padding: 15px 16px;
    font-size: 23px;
  }
}

.hero {
  // background-image:url(../images/adriana.jpg);
  background-image:url(../images/female-1.jpg);
}

.linear-bg {
  /* fallback */
  background-color:#535353;
  background-repeat:repeat-y;
  background:-webkit-gradient(linear, left top, right top, from(#000), to(rgba(131, 131, 131, 0)));
  background:-webkit-linear-gradient(left, #000, rgba(131, 131, 131, 0));
  background:-moz-linear-gradient(left, #000, rgba(131, 131, 131, 0));
  background:-ms-linear-gradient(left, #000, rgba(131, 131, 131, 0));
  background:-o-linear-gradient(left, #000, rgba(131, 131, 131, 0));
  height:70px;
  position:absolute;
  width:100%;
  bottom:138px;
  left:0;
  }
#taskbar {
  position:absolute;
  overflow:hidden;
  height:120px;
  left:0;
  right:0;
  bottom:0;
  padding:20px 0;
  font-weight:600;
  line-height:24px;
  background:#063346;
  background:rgba(1,39,55,0.85);
  }
#taskbar .caro {
  max-width:1049px;
  margin:0 auto;
  }
#taskbar ul li.task-item {
  width:210px!important;
  height:100px!important;
  margin-left:0;
  display:block;
  padding:0 10px;
  box-sizing:border-box;
  margin-bottom:20px;
  font-family:'Bitter',serif;
  text-align:center;
  border-right:1px dotted #34525f;
  }
#taskbar .task-item a {
  display:block;
  box-sizing:border-box;
  height:100%;
  font-size:16px;
  line-height:24px;
  color:#fff;
  text-decoration:none;
  padding:10px 0;
  -webkit-border-radius:3px;
     -moz-border-radius:3px;
          border-radius:3px;
  }
html[lang='es'] #taskbar .task-item a {
  line-height:22px;
  padding:6px 0;
  }
.no-touch #taskbar .task-item a:hover,
.no-touch #taskbar .task-item a:focus {
  background:#046792;
  }
#taskbar .icon {
  display:block;
  width:30px;
  height:30px;
  margin-top:30px;
  }
#taskbar .arrow {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  }
#taskbar .arrow.disabled,
#taskbar .arrow.disabled:hover{
  opacity:0.1;
  filter:alpha(opacity=10);
  }
#taskbar .arrow.disabled#right:hover{
  background-position:-10px -52px;
  }
#taskbar .arrow.disabled#left:hover{
  background-position:-36px -52px;
  }
#taskbar .arrow#left {
  float:left;
  background-position:-36px -52px;
  }
#taskbar .arrow#left:hover {
  background-position:-36px -12px;
  }
#taskbar .arrow#right {
  float:right;
  background-position:-10px -52px;
  }
#taskbar .arrow#right:hover {
  background-position:-10px -12px;
  }
