<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <div id="#wrapper">
      <header role='banner'>
        <div class="container">
          <div class='row top-nav'>
            <div class="col-md-4">
              <a href='{{site.baseurl}}/'><img class='logo' src='{{site.baseurl}}/images/logo.png' alt='Star Robbins &amp; Company' /></a>
            </div>
            <div class="col-md-8 pull-right">
              <div class="col-md-8">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="What can we help you find?" aria-describedby="basic-addon2">
                  <span class="input-group-addon" id="basic-addon2">Search</span>
                </div><!-- /input-group -->
              </div>
              <div class="col-md-2 pull-right">
                <a href='#'>Login</a>
              </div>
            </div>
          </div>
        </div>
      </header>
      <nav role="navigation" class="subnav">
        <div class="container">
          <div class="limiter">
            <div class="row">
              <div class="col-md-9">
                <ul class="nav nav-pills">
                  <li>
                    <a href="/families">Individuals &amp; Families</a>
                  </li>
                  <li>
                    <a href="/small-businesses">Small Businesses</a>
                  </li>
                  <li>
                    <a href="/small-businesses">Employee Resources</a>
                  </li>
                  <li role="presentation" class="nav-btn dropdown clearfix">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% unless page.hero == "blue" %}
        {% include hero.html %}
      {% endunless %}

      <div class="content">
        <!-- {% if page.class != "hero" %} -->
        <div class="wrapper">
          <div class="container">
            {{ content }}
          </div>
        </div>
        <!-- {% endif %} -->
      </div>
    </div>
    {% include footer.html %}
  </body>

</html>
